<div class="m-3">
  <h2 class="text-xl font-semibold text-center" mat-dialog-title>Summary</h2>
  <mat-dialog-content>
    <table mat-table [dataSource]="dataSource" class="text-base">
      <ng-container matColumnDef="subject">
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>
      <ng-container matColumnDef="answer">
        <td mat-cell *matCellDef="let element"
        [ngClass]="{correct: element.answer === element.correct, wrong: element.answer !== element.correct}">
        {{ element.answer }}
        </td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <td mat-cell *matCellDef="let element">
          <svg-icon [src]="element.answer == element.correct ? '../../assets/icons/right.svg': '../../assets/icons/wrong.svg'"></svg-icon>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-col gap-3">
    <button pButton pRipple mat-raised-button mat-dialog-close color="primary" class="w-full py-6 lg:py-8 lg:text-lg font-semibold" (click)="postAnswers()"
    [disabled]="isProgressSaved || userId == 0"
    >
      Save my progress
    </button>
    <div class="flex w-full gap-3">
      <button mat-raised-button class="try-again w-full py-6 lg:py-8 lg:text-lg font-semibold" (click)="reloadPage()">
        Try again
      </button>
      <a [routerLink]="['/display']" class=" w-full">
        <button mat-raised-button mat-dialog-close id="summary" class="w-full py-6 lg:py-8 lg:text-lg text-darkgreen-blue font-semibold">
          Back to list of verbs
        </button>
      </a>
    </div>
  </mat-dialog-actions>
</div>
