<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Summary: {{ currentVerb }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngFor="let item of dataKeys; index as i">
        <li>{{ item }} : <span [ngStyle]="{'color': dataValues[i] == correctAnswers[i] ? 'var(--purple-heart)' : null}">{{ dataValues[i] }}</span></li>
      </ul>
      <div class="text-center text-purple-heart font-bold">{{ message }}</div>
    </mat-card-content>
  </mat-card>
</div>
