.margin {
  margin-top: 3px;
}

.dimension-why-register {
  width: 570px;
}

.register {
  -webkit-text-stroke-color: var(--black-olive);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: var(--light-gray);
}
