<div class="flex justify-evenly">

  <mat-card class="card-dimension">
    <mat-card-header class="mb-3">
      <mat-card-title>{{ action }}</mat-card-title>
      <mat-icon matSuffix class="mt-1 ml-1">{{ icon }}</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="message!==''" class="text-error-red">{{ message }}</p>
      <form
        class="flex flex-col"
       [formGroup]="FormGroup"
      >
        <div class="card-content flex flex-col justify-center">
          <mat-form-field class="w-full">
            <mat-label>Nickname</mat-label>
            <input [formControl]="FormGroup.controls.nickname" matInput>
          </mat-form-field>
          <mat-form-field class="w-full" *ngIf="!isLogin">
            <mat-label>Name</mat-label>
            <input [formControl]="FormGroup.controls.name" matInput>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput>
          </mat-form-field>
        </div>
        <button
          mat-raised-button color="primary"
          (click)="createUser()"
        >
          {{ action }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card
    *ngIf="!isLogin"
    class="card-dimension"
  >
    <mat-card-header>
      <mat-card-title class="mb-3">
        Why registering
      </mat-card-title>
      <mat-icon class="mt-1 ml-1 text-purple-heart">help</mat-icon>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <div class="card-content">
        <div class="my-4">
          This way you will be able to save and track your progres on this app. When you decide to come back again and continue learning you will be able to see what you've learnt so far and how you performed on each exercise! <br>
          <mat-icon class="">mood</mat-icon>
        </div>
          If you still prefer to use the application without registering click the button below.
      </div>
      <button mat-raised-button color="primary">
        <a
          [routerLink]="['/display']"
          class="hover:text-white"
        >
          continue
        </a>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <p>If you {{ hasAccount }} an account click
    <button
      type="button"
      class="text-denim-blue font-semibold"
      (click)="changeAction()"
      >
      here
    </button> to {{ linkAction }}.</p>
</div>
