<div>
  <div class="mb-20 grid lg:grid-cols-3 lg:gap-10 md:grid-cols-2 md:gap-8 sm:grid-cols-1 justify-items-center">
    <table
      *ngFor="let verb of allVerbsList.slice(start, end); let i = index"
      class="animate__animated animate__fadeIn lg:mb-0 md:mb-0 mb-6"
      [ngClass]="{'animate__fadeInLeft': pageIndexBigger == true, 'animate__fadeInRight': pageIndexBigger == false}"
    >
      <div
        (mouseenter)="hoveredElement = i"
        (click)="practiceThisVerb(verb.name)"
        [routerLink]="['/practice', verb.name]"
        (mouseleave)="hoveredElement = null"
        [ngClass]="{'hover': hoveredElement == i}"
        id="card"
        class="w-80 border-2 border-solid border-black-olive rounded-lg transition-transform duration-500"
        >
        <div class="border-b-gray-200 h-16 flex justify-center items-center border-solid rounded-t-md text-ghost-white text-2xl verb-name">
          {{ verb.name }}
          <mat-icon class="ml-2">border_color</mat-icon>
        </div>
        <div class="h-10 flex justify-center items-center text-white text-lg verb-translation">
          {{ verb.translation }}
        </div>
        <div class="">
          <table mat-table [dataSource]="verb.conjugation |keyvalue:onCompare" class="conjugation-table">
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef> Subject </th>
              <td mat-cell *matCellDef="let element"> {{element.key}} </td>
            </ng-container>

            <ng-container matColumnDef="conjugation">
              <th mat-header-cell *matHeaderCellDef> Conjugation </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>




          <!-- <div
            *ngFor="let con of verb.conjugation | keyvalue:onCompare"
            class="grid grid-cols-2 text-lg"
          >
            <span>{{ con.key }}</span> <span>{{ con.value }}</span>
          </div> -->
        </div>
        <a [routerLink]="['/practice', verb.name]">
          <button
            mat-button
            [ngClass]="{'mat-mdc-raised-button': hoveredElement == i}"
            (click)="practiceThisVerb(verb.name)"
            color="primary"
            class="w-full"
          >
            <span
              [ngClass]="{'text-hover': hoveredElement == i}"
              class="transition-all duration-300"
            >
              Practice!
            </span>
          </button>
        </a>
      </div>
    </table>
  </div>
  <mat-paginator
    [length]="16"
    [pageSize]="6"
    [hidePageSize]="true"
    (page)="handlePageEvent($event)"
    class="mt-5 rounded-lg text-sm pagination bg-ghost-white fixed bottom-0 left-0 w-full"
  />
</div>
