@import "src/my-theme.scss";

.hover {
  transform: scale(1.05);
  border-color: var(--rangoon-green);
  cursor: pointer;
}

.btn-hover {
  padding: 7px 0;
}

.text-hover {
  transform: scale(1.05);
  font-size: larger;
}

.verb-name {
  background-color: mat-color($app-theme-primary, 800);
}

.verb-translation {
  background-color: mat-color($app-theme-primary, 300);
}

.conjugation-table .mdc-data-table__row {
  height: 40px;
}
