@import 'src/my-theme.scss';

.card-style-accent:hover {
  background-color: mat-color($app-theme-accent, 100);
  border-bottom: 4px solid mat-color($app-theme-accent, 100);
  border-right: 4px solid mat-color($app-theme-accent, 100);
  color: mat-color($app-theme-primary, 900);
}
