<div class="mx-14">
  <mat-card class="pb-10">
    <mat-card-header class="px-10  mb-2 pb-2 border-b-2 border-b-pearl bg-ghost-white text-black-olive text-lg font-bold rounded-t-lg justify-center">
      <mat-card-title class="mx-auto">
        <span class="font-semibold text-xl">Verb: <span class="uppercase verb-name"> {{ verbName$ | async }}</span></span>
      </mat-card-title>
      <a [routerLink]="'/display'" class="ml-auto">
        <button mat-button color="primary">Verbs list</button>
      </a>
    </mat-card-header>
    <mat-card-content class="px-10 relative" [ngStyle]="{'height': isCheckClicked ? '650px' : null }">
      <p class="mb-12 mt-6 text-xl"> <span class="font-bold">Your task:</span> Choose the correct answer.</p>
      <div class="flex flex-row">
        <div class="flex flex-col basis-1/2 gap-8 animate__animated" [ngClass]="{animate__fadeOut: isBtnClicked, animate__fadeIn: !isBtnClicked}">
          <form class="flex flex-col gap-8">
            <mat-card class="p-6 card-style-primary">
              <span class="font-bold text-2xl text-center">
                {{ conjugationSubject[index] }} ...
              </span>
            </mat-card>
            <div class="grid grid-cols-3 gap-6">
              <button
                *ngFor="let verb of conjugationVerbs"
                (click)="addUserAnswer(conjugationSubject[index], verb)" class="btn-hover"
              >
                <mat-card class="py-8 px-4 card-style-accent hover:duration-200">
                  <span class="font-semibold text-xl">{{ verb }}</span>
                </mat-card>
              </button>
            </div>
          </form>
        </div>
        <div class="flex flex-col items-center mx-auto">
          <span class="text-xl font-semibold">Progress: {{ index }} / 6</span>
          <mat-progress-spinner
            [color]="color"
            [mode]="mode"
            [diameter]="300"
            [value]="spinnerValue"
          >
          </mat-progress-spinner>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
