<div class="text-center">
  <p>My application to learn some french and discover the language.</p>

  <app-login-page
  [icon]="icon"
  [action]="action"
  [linkAction]="linkAction"
  [hasAccount]="hasAccount"
  [isLogin]="isLogin"
  (actionEvent)="newAction()"
  >
  </app-login-page>
  <p><span class="text-darkgreen-blue font-black">Disclaimer:</span> Please do not fill in the form with any data that is important to you. This is a learning project and everything here has been created for such purposes.</p>
</div>
