<div>
  <div class="grid grid-cols-3 gap-10 justify-items-center">
    <table
      *ngFor="let verb of allVerbsList; let i = index"
    >
      <div
        (mouseenter)="hoveredElement = i"
        (click)="practiceThisVerb(verb.name)"
        [routerLink]="['/practice', verb.name]"
        (mouseleave)="hoveredElement = null"
        [ngClass]="{'hover': hoveredElement == i}"
        id="card"
        class="w-72 border-2 border-solid border-black-olive rounded-lg transition-transform duration-500"
        >
        <div class="border-b-gray-200 h-16 flex justify-center items-center border-solid rounded-t-md bg-dark-green text-ghost-white text-2xl">
          {{ verb.name }}
          <mat-icon class="ml-2">border_color</mat-icon>
        </div>
        <div class="bg-light-green h-10 flex justify-center items-center text-white text-lg">
          {{ verb.translation }}
        </div>
        <div class="py-3">
          <div
            *ngFor="let con of verb.conjugation | keyvalue:onCompare"
            class="text-center text-lg"
          >
            {{ con.key }} {{ con.value }}
          </div>
        </div>
        <a [routerLink]="['/practice', verb.name]">
          <button
            mat-button
            [ngClass]="{'mat-mdc-raised-button': hoveredElement == i}"
            (click)="practiceThisVerb(verb.name)"
            color="primary"
            class="w-full"
          >
            <span
              [ngClass]="{'text-hover': hoveredElement == i}"
              class="transition-all duration-300"
            >
              Practice!
            </span>
          </button>
        </a>
      </div>
    </table>
  </div>
  <mat-paginator
    [length]="16"
    [pageSize]="10"
    [hidePageSize]="true"
    (page)="handlePageEvent($event)"
    class="mt-5 rounded-lg text-sm pagination"
    [ngStyle]="{background: 'linear-gradient(90deg, rgba(195, 251, 244, 0.5) ' + gradient +'%, rgb(103, 58, 183, 0.5) 100%)'}"
  >
  </mat-paginator>
</div>
