@import "src/my-theme.scss";

.link {
  color: var(--black-olive);
}

.custom-container {
  justify-content: flex-start !important;
  background: rgba(195, 251, 244, 1);
}

.list {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

.user-btn {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}

.on-hover:hover {
  box-shadow: 1px 1px 2px var(--black-olive);
}

.user-button {
  background-color: mat-color($app-theme-primary, 900);
}
