<div>
    <mat-card class="mx-48 p-12">
        <mat-card-content class="flex flex-row justify-center items-center gap-12">
            <div class="flex flex-col">
                <h1 class="text-[80px]">Hello, {{ user }}</h1>
                <p class="text-[50px]">What do you want to do next?</p>
            </div>
            <svg-icon src="../../assets/icons/green-alien-hello.svg"></svg-icon>
        </mat-card-content>
    </mat-card>
    <div class="grid grid-cols-2 gap-4">
        <mat-card>
            HELLO
        </mat-card>
        <mat-card>
            HELLO
        </mat-card>
    </div>
</div>
