<div class="grid grid-cols-1 gap-10">
  <mat-card class="p-12">
      <mat-card-content class="flex lg:flex-row text-center lg:text-left justify-center items-center gap-12">
        <div class="flex flex-col">
          <div class="flex flex-row gap-3">
            <h1 class="lg:text-[80px] text-5xl">Hello, {{ user || 'User' }}</h1>
            <ng-template [ngIf]="!isLogin">
              <svg-icon src="../../assets/icons/info-icon.svg" matTooltip="Feel free to explore the app as User. However if you want to see all the features, login or register in the top right corner." matTooltipPosition="above" matTooltipClass="text-sm"/>
            </ng-template>
          </div>
          <p class="lg:text-[50px] hidden lg:block">Ready for your next challenge?</p>
        </div>
        <svg-icon src="../../assets/icons/green-alien-hello.svg" class="hidden lg:block"/>
      </mat-card-content>
  </mat-card>
  <div class="grid grid-rows-2 lg:grid-cols-2 lg:grid-rows-none gap-10">
    <mat-card #chart>
      <mat-card-title class="flex flex-row items-center">
        <p class="p-4 font-bold text-2xl">Time you spent learning during last days</p>
        <svg-icon src="../../assets/icons/space-observatory-bw.svg"/>
      </mat-card-title>
      <ng-template [ngIf]="isLogin" [ngIfElse]="emptyReport">
        <app-chart
          [chartParentWidth]="chartParentWidth"
          [chartParentHeight]="chartParentHeight"
          [data]="data"
          [xAxis]="'Days'"
          [yAxis]="'Time (in minutes)'"
          chartType="bar"
        />
      </ng-template>
      <ng-template #emptyReport>
        <div class="py-10 flex flex-col justify-center items-center">
          <p class="text-2xl font-bold">No data available.</p>
          <svg-icon src="../../assets/icons/space-capsule.svg" class="py-6"/>
          <p>Register or login to see the report from your learning time.</p>
        </div>
      </ng-template>
    </mat-card>
    <mat-card>
      <mat-card-title class="flex flex-row items-center">
        <p class="p-4 font-bold text-2xl">Your last activity</p>
        <svg-icon src="../../assets/icons/alien-obduction-bw.svg"/>
      </mat-card-title>
      <ng-template [ngIf]="isLogin" [ngIfElse]="emptyActivity">
        <mat-card-content>
          <p>Your last activity was on: <span class="font-bold">{{ lastLogin }}</span></p>
          <p class="pt-2 text-lg font-bold text-center">Verbs you practiced recently</p>

          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef> Score </th>
              <td mat-cell *matCellDef="let element"> {{element.score}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-card-content>
      </ng-template>
      <ng-template #emptyActivity>
        <div class="py-10 flex flex-col justify-center items-center">
          <p class="text-2xl font-bold">No data available.</p>
          <svg-icon src="../../assets/icons/purple-alien.svg" class="py-6"/>
          <p>Register or login to see information about your last activity.</p>
        </div>
      </ng-template>
    </mat-card>
  </div>
</div>
