@import "src/my-theme.scss";

.login-card {
  border-radius: 12px;
  box-shadow: 10px 12px 5px rgb(40, 43, 49);
}

button {
  color: mat-color($app-theme-accent, A200);
  font-weight: 500;
}

.margin {
  margin-top: 3px;
}

.register {
  -webkit-text-stroke-color: var(--black-olive);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: var(--light-gray);
}

::ng-deep .mdc-text-field--outlined {
  border: 1px solid #7c7484;
  border-radius: 5px !important;
}

::ng-deep .mdc-text-field--invalid {
  border: none !important;
}

:ng-deep .mdc-notched-outline--notched {
  border: none;
}

:ng-deep .mat-mdc-form-field-infix {
  border: none;
}

@media (max-width: 640px) {
  // mat-card-header {
  //   margin-top: 10px;
  //   margin-bottom: 150px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
