<div>
  <mat-card class="card-dimension login-card">
    <mat-card-header class="" [ngClass]="{'mb-10 lg:mb-16' : action === 'register', 'mb-16 sm:mb-20 lg:mb-32' : action === 'login'}">
      <mat-card-title>
        <span class="flex flex-row items-end link text-black-olive text-2xl">
          <img
          src="assets/img/logo.jpg"
          class="mt-3 mr-2 w-7 h-7"
          >
          <p class="my-0 uppercase font-semibold">FrenchUpp</p>
        </span>
        <span class="text-dark-gray">
          Commence ton aventure ici.
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        *ngIf="message !== '' "
        class="text-error-red mx-auto"
      >
        {{ message }}
      </div>
      <form
        class="flex flex-col"
       [formGroup]="FormGroup"
      >
        <ng-template
          [ngIf]="!isLogin"
          [ngIfElse]="isLoginUsername"
        >
          <span class="font-bold">
            Enter your username
          </span>
        </ng-template>
        <ng-template #isLoginUsername>
          <span class="font-bold">
            Enter your username
          </span>
        </ng-template>
        <mat-form-field
          #input
          appearance="outline"
        >
          <input
            [formControl]="FormGroup.controls.username"
            matInput
            type="username"
            (focus)="hideError()"
            class=""
            placeholder="eg. barry78"
            class="h-10"
          />
        </mat-form-field>
        <ng-template
          [ngIf]="!isLogin"
        >
          <span class="font-bold">
            Enter your name
          </span>
        </ng-template>
        <mat-form-field
          appearance="outline"
          class=""
          *ngIf="!isLogin"
        >
          <input
            [formControl]="FormGroup.controls.name"
            matInput
            type="name"
            (focus)="hideError()"
            placeholder="eg. Amanda"
            class="h-10"
          >
        </mat-form-field>
        <ng-template [ngIf]="!isLogin">
          <span class="font-bold">
            Enter your e-mail
          </span>
          <mat-form-field
            appearance="outline"
          >
            <input
              type="email"
              formControlName="email"
              matInput
              (focus)="hideError()"
              placeholder="eg. amanda@email.com"
              class="h-10"
            >
          </mat-form-field>
        </ng-template>
        <ng-template
          [ngIf]="!isLogin" [ngIfElse]="isLoginPassword"
        >
          <span class="font-bold">
            Set your password
          </span>
        </ng-template>
        <ng-template #isLoginPassword>
          <span class="font-bold">
            Enter your password
          </span>
        </ng-template>
        <mat-form-field
          appearance="outline"
          class="w-full"
        >
          <input
            formControlName="password"
            type="password"
            matInput
            (focus)="hideError()"
            class="h-10"
          >
        </mat-form-field>
        <ng-template [ngIf]="isLogin" [ngIfElse]="Register">
          <button
              class="uppercase py-8"
              mat-raised-button color="primary"
              (click)="loginUser()"
            >
              Login
            </button>
        </ng-template>
        <ng-template #Register>
          <button
              class="uppercase py-8"
              mat-raised-button color="primary"
              (click)="createUser()"
            >
              Register
            </button>
        </ng-template>
      </form>
    </mat-card-content>
    <mat-card-footer class="mt-auto mx-auto pb-4 text-center">
      If you {{ hasAccount }} an account click
      <button
        type="button"
        (click)="changeAction()"
        >
        here
      </button>
      to {{ linkAction }}.
    </mat-card-footer>
  </mat-card>
  <!-- <mat-card
    class="card-dimension flex flex-col sm:overflow-scroll"
  >
    <mat-card-header [ngClass]="{'sm:mb-28' : action === 'register'}">
      <mat-card-title>
        <span class="flex flex-row items-end link text-black-olive text-2xl">
          <img
          src="assets/img/logo.jpg"
          class="mt-3 mr-2 w-7 h-7"
          >
          <p class="my-0 uppercase font-semibold">FrenchUpp</p>
        </span>
        <span class="text-dark-gray">
          Commence ton aventure ici.
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="h-80 flex flex-col lg:justify-evenly md:mt-24 sm:mt-24 lg:mt-0 lg:mx-6">
      <div
        *ngIf="message !== '' "
        class="text-error-red mx-auto"
      >
        {{ message }}
      </div>
      <form
        class="card-content reg-log flex flex-col justify-center"
       [formGroup]="FormGroup"
      >
        <ng-template
          [ngIf]="!isLogin"
          [ngIfElse]="isLoginUsername"
          class="mb-3"
        >
          <span class="font-bold">
            Enter your username, eg. barry78
          </span>
        </ng-template>
        <ng-template #isLoginUsername>
          <span class="font-bold">
            Enter your username
          </span>
        </ng-template>
        <mat-form-field
          #input
          appearance="outline"
          class="w-full"
        >
          <input
            [formControl]="FormGroup.controls.username"
            matInput
            type="username"
            (focus)="hideError()"
            class="p-3"
          />
        </mat-form-field>
        <ng-template
          [ngIf]="!isLogin"
        >
          <span class="font-bold">
            Enter your name, eg. Amanda
          </span>
        </ng-template>
        <mat-form-field
          appearance="outline"
          class="w-full"
          *ngIf="!isLogin"
        >
          <input
            [formControl]="FormGroup.controls.name"
            matInput
            type="name"
            (focus)="hideError()"
            class="p-3"
          >
        </mat-form-field>
        <ng-template [ngIf]="!isLogin">
          <span class="font-bold">
            Enter your e-mail
          </span>
          <mat-form-field
            appearance="outline"
            class="w-full"
          >
            <input
              type="email"
              formControlName="email"
              matInput
              (focus)="hideError()"
              class="p-3"
            >
          </mat-form-field>
        </ng-template>
        <ng-template
          [ngIf]="!isLogin" [ngIfElse]="isLoginPassword"
        >
          <span class="font-bold">
            Set your password
          </span>
        </ng-template>
        <ng-template #isLoginPassword>
          <span class="font-bold">
            Enter your password
          </span>
        </ng-template>
        <mat-form-field
          appearance="outline"
          class="w-full"
        >
          <input
            formControlName="password"
            type="password"
            matInput
            (focus)="hideError()"
            class="p-3"
          >
        </mat-form-field>
        <ng-template [ngIf]="isLogin" [ngIfElse]="Register">
          <button
              class="uppercase py-8"
              mat-raised-button color="primary"
              (click)="loginUser()"
            >
              Login
            </button>
        </ng-template>
        <ng-template #Register>
          <button
              class="uppercase py-8"
              mat-raised-button color="primary"
              (click)="createUser()"
            >
              Register
            </button>
        </ng-template>
      </form>
    </mat-card-content>
    <mat-card-footer class="mt-auto mx-auto pb-4">
      If you {{ hasAccount }} an account click
      <button
        type="button"
        (click)="changeAction()"
        >
        here
      </button>
      to {{ linkAction }}.
    </mat-card-footer>
  </mat-card> -->
</div>
