/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* COLORS */
:root {
  --black-olive: #3E3E3E; // text dark
  --ghost-white: #F9F9F9; // text light

  --purple-heart: #673ab7; // navbar darkest color & primary color
  --darkgreen-blue: #25676e; // third primary color (used for better visibility against white bg)

  --rangoon-green: #1D1B1B; // hovered elements
  --error-red: #c24848; // errors
  --pearl: #DEE1DF; // borders

  //--- NEW PALLETTE
  --dark-purple: #845EC2;
  --light-purple: #C197FF;
  --light-gray: #b0a8b9;
  --dark-gray: #7c7484;

  .card-dimension {
    width: 500px;
    height: 650px;
  }


  .card-content {
    height: 200px;
  }
}

@media (min-width: 1280px) {
  .card-dimension {
    width: 20%;
    height: 580px;
  }

  .card-content {
    height: 420px;
  }

  .reg-log {
    width: 86% !important;
    margin: 0 auto;
  }

  .register-login-page {
    margin-top: 78px;
  }
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pagination .mat-mdc-paginator-container {
  min-height: auto !important;
}
