/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";


/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* COLORS */
:root {
  --black-olive: #3E3E3E; // text dark
  --ghost-white: #F9F9F9; // text light

  --palesky-blue: #C3FBF4; // navbar lightest color
  --purple-heart: #673ab7; // navbar darkest color & primary color

  --icecold: #BAE9EE; // first primary color
  --denim-blue: #99a2d8; // second primary color
  --darkgreen-blue: #25676e; // third primary color (used for better visibility against white bg)

  --rangoon-green: #1D1B1B; // hovered elements
  --error-red: #f44336; // errors
  --pearl: #DEE1DF; // borders

  .card-dimension {
    width: 280px;
    height: 390px;
  }

  .card-content {
    height: 260px;
  }
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pagination .mat-mdc-paginator-container {
  min-height: auto !important;
}
